.hero{
    width: 100%;
    min-height: 80vh;
    background-image: linear-gradient(rgba(142, 127, 112, 0.353),rgba(11, 9, 7, 0.353), rgba(11, 9, 7, 0.353)), url("../../assets/img/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    gap: 1.2rem;}

.hero h1{
    color: var(--color-white);
    font-size: 3rem;}

.hero p{
    color: var(--color-white);
    max-width: 500px;
    font-size: 1.1rem;}

@media (max-width: 768px){
    .hero h1{
    font-size: 2.2rem;}
}